:root {
  --primary: #a30909;
  --secondary: #056803;
  --secondary-hover: #024b01;
  --dark: #111;
  --light: #fff;
}

main,
form,
fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

fieldset {
  width: fit-content;

  border-radius: 20px;
}

legend {
  margin-left: 1rem;
  padding: 0.2rem;
}

input {
  width: 20rem;

  margin: 0.5rem;
  padding: 0.25rem 0.5rem;

  border: 1px solid black;
  border-radius: 10px;
}

#products {
  width: 20rem;
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;

  margin: 10px 0;
  padding: 10px 1.5rem;

  border-radius: 30px;
  border: none;

  color: var(--light);
  background-color: var(--secondary);
}
