$primary: #ead41c;
$primary-darker: #eaa91c;
$secondary: #191622;
$text: #cedced;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas, monospace;
}

body {
  background-color: $secondary;
}

.container {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    width: 100px;
    border-radius: 50%;
    margin-top: 0.5rem;
  }
}

h1,
h2,
h3 {
  color: $text;
}

h1,
h3 {
  text-align: center;
  margin: 1rem;
}

h2 {
  margin-top: 2rem;
}

a {
  color: $primary;
  font-size: 1.2rem;
}
